{{#each recipes as |recipe|}}
  {{log recipe}}
  <section>
    <h6 class="text-dark">Ingredient:</h6>
    <p class="text-muted">{{recipe.ingredient}}</p>
    <h6>Temperature in &deg F:</h6>
    <p class="text-muted">{{recipe.temperature}}</p>
    <h6>Time in hours:</h6>
    <p class="text-muted">{{recipe.time}}</p>
    <h6>Fuel source:</h6>
    <p class="text-muted">{{recipe.fuel}}</p>
    <h6>Directions:</h6>
    <p class="text-muted">{{recipe.directions}}</p>
    <button type="click" data-id="{{recipe._id}}" class="btn btn-danger delete-recipe">Delete recipe</button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Update this recipe
    </button>
  </section>

{{/each}}
