{{#each recipes as |recipe|}}
  {{log recipe}}
  {{log 'this is recipe:' recipe}}
  {{log 'this is recipe.ingredient:' recipe.ingredient}}
  {{log 'this is recipe._id' recipe._id}}
  {{log 'this is recipe.temperature:' recipe.temperature}}
  {{log 'this is recipe.fuel:' recipe.fuel}}
  {{log 'this is recipe.directions:' recipe.directions}}
  <section>
    <h3 class="font-weight-bold">Ingredient:</h3>
    <p class="font-weight-normal">{{recipe.ingredient}}</p>
    <h3 class="font-weight-bold">Temperature in &deg F:</h3>
    <p class="font-weight-normal">{{recipe.temperature}}</p>
    <h3 class="font-weight-bold">Time in hours:</h3>
    <p class="font-weight-normal">{{recipe.time}}</p>
    <h3 class="font-weight-bold">Fuel source:</h3>
    <p class="font-weight-normal">{{recipe.fuel}}</p>
    <h3 class="font-weight-bold">Directions:</h3>
    <p class="font-italic">{{recipe.directions}}</p>
    <button type="click" data-id="{{recipe._id}}" class="btn btn-danger delete-recipe">Delete this recipe</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#update-modal">
      Update this recipe
    </button>
    <!-- Modal -->
    <div class="modal fade" id="update-modal" aria-labelledby="recipeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="recipeModalLabel">Updating an existing recipe?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="update-recipe-forms form" data-id="{{recipe._id}}">
              <input name="recipe[ingredient]" type="text" placeholder="ingredient">
              <input name="recipe[temperature]" type="number" placeholder="temperature in &deg F">
              <input name="recipe[time]" type="number" placeholder="time in hours">
              <input name="recipe[fuel]" type="text" placeholder="fuel source">
              <input name="recipe[directions]" type="text" placeholder="directions">
              <button type="submit" data-toggle="modal" data-target="#update-modal" class="btn btn-success">Save changes</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/each}}
